@import-normalize;

body {
  margin: 0;
}

html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Mulish';
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #fff;
  color: #767676;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0px;
}
svg {
  fill: currentcolor;
  /* width: 15px;
  height: 15px; */
}
/* img.svg {
  width: 15px;
  height: 15px;
} */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #6f6f6f;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6f6f6f;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6f6f6f;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6f6f6f;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6f6f6f;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #6f6f6f;
}

.container {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0px 40px;
  position: relative;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.4;
  font-family: 'Montserrat';
  color: #000;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

@media (max-width: 1600px) {
  .container {
    max-width: 968px;
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 1040px) {
  .container {
    padding: 0px 20px;
  }
}
@media (max-width: 768px) {
}
